daemon-address=node.moneroworld.com:18089
rpc-bind-ip=127.0.0.1
rpc-bind-port=18082
rpc-login=user:password
wallet-file=/opt/monero-wallets/WALLET_FILE_NAME
password-file=/opt/monero-wallets/WALLET_FILE_NAME.password
non-interactive=true
log-file=/home/whattheserver.com/.config/monero-wallets/monero-wallet-WTS.log
log-level=2
